{% extends 'core/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="mt-4 p-5 text-white rounded">
                <h1>Perfil</h1>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'historial' %}" style="text-decoration: none;">Historial de compras</a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'solicitudes' %}" style="text-decoration: none;">Mis Solictudes</a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{% url 'status' %}" style="text-decoration: none;">Mi Suscripcion</a>
                    </li>
                </ul>
                {% if user.is_superuser %}
                <h1>Menú Admin</h1>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'solicitudesadm' %}" style="text-decoration: none;">Solicitudes</a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'statusadmin' %}" style="text-decoration: none;">Pedidos</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}